<h1>{{title}}</h1>
<nav>
  Show:
  <a routerLink="/shelf"> All</a>
  <a routerLink="/shelf/{{collections.TO_READ}}"> To Read</a>
  <a routerLink="/shelf/{{collections.READING}}"> Reading</a>
  <a routerLink="/shelf/{{collections.READ}}"> Read</a>
</nav>
<app-book-on-shelf-form (newBook)=newBookHandler($event)></app-book-on-shelf-form>
<button (click)="loadBooks()">Load Books</button>
<h2 *ngIf="this.isLoading$ | async">Is Loading...</h2>

<div class="collection_container" *ngIf="(this.books$ | async)?.length">
  <div class="header" [ngClass]="this.mode">
    <h2>{{collectionTitle$|async}}</h2>
  </div>
 <app-books-on-shelf class="book"
                     *ngFor="let book of books$ | async"
                     [book]="book"
                     (collectionChange)="changeCollectionHandler($event)">
 </app-books-on-shelf>
</div>
